/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 1000px;
    background-color: silver;
    margin: 15px auto;
    padding: 25px;
   }
   #header{
    min-height: 150px;
    background-color: green;
    margin: 5px;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    margin: 5px 15px 0px 5px;
    display: inline-block;
   }
   #main_content{
    min-height: 400px;
    width: 705px;
    background-color: red;
    padding: 30px;
    margin: 5px 0px 5px 5px;
    display: inline-block;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 5px;
    padding: 5px;
   }
   #advertisement{
    min-height: 120px;
    width: 690px;
    background-color: purple;
    margin:5px;
   }
   #main_content, #navigation{
    display: inline-block;
    vertical-align: top;   
   }
